<?xml version="1.0" encoding="utf-8"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find blattoidea)/urdf/blattoidea.urdf.xacro' --inorder" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="/joint_states" to="joint_states" />
		<remap from="robot_description" to="robot_description" />
	</node>

   <node name="blattoidea_cmd_vel" pkg="blattoidea_hw" type="blattoidea_cmd_vel_bridge.py" output="screen">
        <param name="port" value="/dev/ttyUSB0" /> <!--arduino0-->
        <param name="baud" value="115200" />
        <param name="port2" value="/dev/arduino1" />
        <param name="baud2" value="115200" />
    </node>

    <include file="$(find blattoidea_hw)/launch/depthimage_to_laserscan.test" />
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
    <include file="$(find blattoidea_hw)/launch/hector_slam_default.launch" />

    <!--<node name="blattoidea_nano_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="57600" />
    </node>-->

</launch>

