<?xml version="1.0" encoding="utf-8"?>
<launch>




    <param name="robot_description" command="$(find xacro)/xacro '$(find blattoidea)/urdf/blattoideaHW.urdf.xacro' --inorder" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<remap from="/joint_states" to="joint_states" />
		<remap from="robot_description" to="robot_description" />
	</node>

   <node name="blattoidea_cmd_vel" pkg="blattoidea_hw" type="blattoidea_cmd_vel_bridge.py" output="screen">
        <param name="port_1" value="/dev/arduino0" />
        <param name="baud_1" value="115200" />
        <param name="port_2" value="/dev/arduino1" />
        <param name="baud_2" value="115200" />
    </node>
    
     <node name="tf_broadcaster_blattoidea_node" pkg="blattoidea_hw" type="blattoidea_tf_broadcaster.py">
	</node>

    <include file="$(find blattoidea_hw)/launch/rs_camera.launch"/>
  <!-- <include file="$(find blattoidea_hw)/launch/gmaping.launch" /> -->
  <!-- <include file="$(find blattoidea_hw)/launch/depthimage_to_laserscan.test" />-->
   <include file="$(find blattoidea_hw)/launch/teleop.launch" />

    <!--<node name="blattoidea_nano_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="57600" />
    </node>-->
    
    <include file="$(find blattoidea_hw)/launch/imu.launch" />
    <include file="$(find blattoidea_hw)/launch/gps.launch" />
    <include file="$(find blattoidea_hw)/launch/localization.launch" />
    

</launch>

