
SUBSYSTEM=="tty", KERNELS=="*.4", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="arduino0", MODE="a=wx"

SUBSYSTEM=="tty", KERNELS=="*.1", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A50285BI", SYMLINK+="arduino1", MODE="a=rx"

SUBSYSTEM=="tty", KERNELS=="1-5", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A50285BI", SYMLINK+="IMU", MODE="a=wrx"

